<!DOCTYPE html>

<!-- 
  Hot Cocoa - Hebe Huang, Josephine Lee, Annabel Zhang, Han Zhang
  SoftDev
  P00 -- Cafe of Stories 
  2021-10-27
 -->
 

<html>
    <head>
        <title> Add to a story </title>
    </head>

    <h4>
        Add to a story!
    </h4>

    {{ currentStories }}

    <form action="/auth" method = 'POST'>
        Title of story you want to add to: <input type="text" name="title">
        <br>
        Addition to story:  <input type="text" name="content">
        <br>
        <button type = "submit" formaction="/uploadNewStory"> Add your contribution </button>
      </form>

</html>
