<!DOCTYPE html>

<!--
  Hot Cocoa - Hebe Huang, Josephine Lee, Annabel Zhang, Han Zhang
  SoftDev
  P00 -- Cafe of Stories
  2021-10-27
 -->


<html>
    <head>
        <title> Add to Existing Story </title>
    </head>

    <h3>
        Submit your addition to this story.
    </h3>

    <form action="/uploadUpdatedStory" method = 'POST'>
        Content: <br>
        <textarea id="content" name="content" rows="4" cols="50"></textarea>
        <br>
        <button type = "submit"> Submit </button>
      </form>
    <br>
    <h4> LATEST UPDATE TO {{title}} </h4>
    {{content[0]}}

    <form action="/auth" method = 'POST'>
        <button type = "submit" formaction="/"> Home </button>
    </form>
</html>
