<!DOCTYPE html>

<!--
  Hot Cocoa - Hebe Huang, Josephine Lee, Annabel Zhang, Han Zhang
  SoftDev
  P00 -- Cafe of Stories
  2021-10-27
 -->


<html>
    <head>
        <title> Create New Story </title>
    </head>

    <h2>
        {{status}}
    </h2>

    <h4>
        Enter the new story's title and content.
    </h4>

    <form action="/auth" method = 'POST'>
        Title: <input type="text" name="title">
        <br>
        Content: <br>
        <textarea id="content" name="content" rows="4" cols="50">
        </textarea>
        <!--<input type="text" name="content" size="100"> -->
        <br>
        <button type = "submit" formaction="/uploadNewStory"> Add new story </button>
        <br>
        <button type = "submit" formaction="/"> Home </button>
      </form>

</html>
