<!DOCTYPE html>

<!-- 
  Hot Cocoa - Hebe Huang, Josephine Lee, Annabel Zhang, Han Zhang
  SoftDev
  P00 -- Cafe of Stories | Design Doc
  2021-10-27
 -->

<html>

  <head>
    <title> Home Page </title>
  </head>

  <body>
      <h2>  Cafe of Stories </h2>
    Welcome {{ user }}! <!-- user input -->
    <br></br>
    <form action="/logout">
      <input type="submit" value="Logout" />
  </form>
  <br></br>
    <form action="/createstory">
      <input type="submit" value="Create New Story" />
    </form>
  <br></br>
  <form action="/add">
    <input type="submit" value="Add to a story " />
  </form>
  </body>

</html>
