<!DOCTYPE html>

<!-- 
  Hot Cocoa - Hebe Huang, Josephine Lee, Annabel Zhang, Han Zhang
  SoftDev
  P00 -- Cafe of Stories | Design Doc
  2021-10-27
 -->

<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h2>
      Hot Cocoa - Hebe Huang, Josephine Lee, Annabel Zhang, Han Zhang
    </h2>

    <h3>
      Welcome to Cafe of Stories! Enter your username and password below to proceed.
    </h3>
    <form action="/auth" method = 'POST'>
      Username: <input type="text" name="username">
      <br>
      Password:  <input type="password" name="password">
      <br>
      <input type="submit" name="sub1">
    </form>
    <br>
    <br></br>
    <form action="/signup">
      <input type="submit" value="Sign up" />
  </form>
  </body>

</html>
