<!DOCTYPE html>

<!-- 
  Team Whales: Hebe Huang, Josephine Lee, Han Zhang
  SoftDev
  K15: Sessions Greetings
  2021-10-18
 -->

<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h2>
      Team Whales: Hebe Huang, Josephine Lee, Han Zhang
    </h2>

    <h3>
      Enter your username and password below to proceed
    </h3>
    <form action="/auth" method = 'POST'>
      Username: <input type="text" name="username">
      <br>
      Password:  <input type="password" name="password">
      <br>
      <input type="submit" name="sub1">
    </form>
    <br>
  </body>

</html>
