<!DOCTYPE html>

<!-- 
  Team Whales: Hebe Huang, Josephine Lee, Han Zhang
  SoftDev
  K15: Sessions Greetings
  2021-10-18
 -->

<html>

  <head>
    <title> Welcome Page </title>
  </head>

  <body>
      <h2>
        Team Whales: Hebe Huang, Josephine Lee, Han Zhang <!-- TNPG+roster -->
      </h2>
    {{ user }} <!-- user input -->
    <br></br>
    {{ method }} <!-- request method used -->
    <br></br>
    Congrats on providing a user! <!-- greeting -->
    <br></br>
    <form action="/logout">
      <input type="submit" value="Logout" />
  </form>
  </body>

</html>
