<!DOCTYPE html>

<!--
  Hot Cocoa - Hebe Huang, Josephine Lee, Annabel Zhang, Han Zhang
  SoftDev
  P00 -- Cafe of Stories
  2021-10-27
 -->


<html>
    <head>
        <title> Add to Existing Story </title>
    </head>

    <h4>
        Enter the existing story's title you want to add to. You may not add to a story you have already contributed to.
    </h4>

    <form action="/auth" method = 'POST'>
        Title: <input type="text" name="title">
        <br>
        <button type = "submit" formaction="/uploadUpdatedStory"> Submit </button>
      </form>
    
    <h5>
        List of Stories:
    </h5>

    {% for value in stories %}
        {{value[0]}}
        <br>
    {% endfor %}

    <form action="/auth" method = 'POST'>
        <button type = "submit" formaction="/home"> Home </button>
      </form>

</html>